.feedback {
  width: 100%;

  .feedback__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .feedback__image {
      margin-left: -160px;
      width: 575px;
      height: 498px;
    }

    .feedback__section {
      width: 797px;
      display: flex;
      justify-content: space-between;

      .feedback__desc {
        width: 387px;
        height: 223px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .feedback__title {
          font-size: 64px;
          font-weight: 500;
          color: #B0CC0D;
        }

        .feedback__subtitle {
          font-size: 20px;
          color: black;
          font-weight: 300;
        }
      }

      .feedback__form {
        width: 100%;
        max-width: 388px;
      }
    }
  }
}
